credentials/mysql.env
credentials/spotify.env
.DS_Store
.DS_Store
data/frio_2018_2020.csv
anonym_dia.ipynb
data/frio_2018_2020.csv
data/household_power_consumption.txt
projetos/Favorita/data/holidays_events.csv
projetos/Favorita/data/oil.csv
projetos/Favorita/data/sample_submission.csv
projetos/Favorita/data/stores.csv
projetos/Favorita/data/test.csv
projetos/Favorita/data/train.csv
projetos/Favorita/data/transactions.csv
data/transactions_train.csv
data/Dados H&M.ipynb
data/customers.csv
data/articles.csv
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/test_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/test/events.out.tfevents
data/california_housing/